@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(255, 243, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 80%;
  max-width: 800px;
  padding: 2%;
  background-color: white;
}

p {
  line-height: 1.7em;
}

header,
footer {
  background-color: rgb(88, 0, 88);
  Width: 100%;
  text-align: center;
  color: white;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

input,
select {
  margin-bottom: 10px;
  margin-top: 5px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 300px;
}

select {
  width: 50px;
}

button {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(88, 0, 88);
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

form {
  border: 2px solid grey;
  padding: 30px;
  border-radius: 5px;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
}

#formInstruction {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid lightgrey;
  padding: 20px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


@media screen and (max-width : 930px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    background-color: white;
  }

  th,
  td {
    padding: 10px;
    text-align: right;
    border: transparent;
    border-bottom: 1px solid lightgrey;
  }

  th {
    display: none;
  }

  td {
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }

  td a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

@media screen and (max-width : 520px) {
  main {
    width: 100%;
    background-color: rgb(255, 243, 255);
  }

  form {
    width: 80%;
    border: transparent;
  }

  input {
    width: 100%;
  }

  h1,
  main p {
    padding-left: 10px;
    padding-right: 10px;
  }
}